# ビルド成果物
/wasm/*.wasm
/wasm/wasm_exec.js
/wasm/wasm_exec.js.original
*.wasm.map

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json  # npmで作成したpackage-lock.jsonはCIでのみ生成

# Cloudflare Workers
.wrangler/
.dev.vars
dist/

# 環境設定
.env
.env.local
.env.development
.env.production

# エディタ・IDE
.idea/
.vscode/
*.swp
*.swo

# OS関連
.DS_Store
Thumbs.db

# ログファイル
*.log
